<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Log format: -->
            <pattern>%d{HH:mm:ss.SSS z}--> %-5level -%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

</configuration>
